<h2>All Sales</h2>

<table class="table table-striped">
    <tr>
      
      <th>Genre</th>
      <th>Media</th>
      <th>Territories</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Sale</th>
      <th>Sale Date</th>
    </tr>
    <% Sale.all.each do |sale| %>
    <tr>
      <td><%= Project.find(sale.project_id).genres.map { |g|  g.data }.join(', ') %></td>
      <td><%= sale.media.map { |m| m.name }.join(', ') %></td>
      <td><%= sale.territories.map { |t| t.name }.join(', ') %></td>
      <td><%= currency(sale.bid) %></td>
      <td><%= currency(sale.ask) %></td>
      <td><%= currency(sale.close) %></td>
      <td><%= sale.close_date %></td>
    </tr>
    <% end %>
</table>
