<div class="hero-unit">
  <small><%= current_user.username %></small>
  <h2>all your projects</h2>
  <table class="table">
      <tr>
        <th>title</th>
        <th>budget</th>
        <th>genres</th>
        <th>sales</th>
        <th></th>
      <tr>
        <form id="horizontal-create-project" method="post" action="/user/<%=current_user.id%>/project/create">
          <td id="add-title"><input type="text" placeholder="Click to add new" name="title"></td>
          <td class="hidden"><input type="text" placeholder="budget" name="budget"></td>
          <td class="hidden"><input type="text" placeholder="genres" name="genres"></td>
          <td></td>
          <td class="hidden"><input type="submit" value="save"></td>
        </form>
      </tr>
      </tr>
      <% current_user.projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= currency(project.budget_size) %></td>
        <td><%= project.genres.map { |g| g.data }.join(', ') %></td>
        <td><a href="/user/<%= current_user.id %>/project/<%= project.id %>/sale/all">Sales</a></td>
        <td>edit</td>
      </tr>
      <% end %>
      
  </table>
</div>
