<div class="hero-unit">
  <h2><%= current_user.username %></h2>
  <h2><%= @project.title %></h2>
  <ul>
    <li>Title: <%= @project.title %></li>
    <li>Budget: $<%= @project.budget_size %></li>
    <li>Genres: <%= @project.genres.map { |g| g.data }.join(',') %></li>
  </ul>
</div>
